/* style.css */

body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
  }
  
  header {
	background-color: blueviolet;
	color: #fff;
	padding: 10px;
	text-align: center;
  }
  
  nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: flex-end;
  }
  
  nav ul:hover {
	transform: translateY(-3px);
  }
  
  nav li {
	margin: 0 10px;
  }
  
  nav a {
	color: #fff;
	text-decoration: none;
  }
  
  nav a:hover {
	color: #fff;
	text-decoration: underline;
  }
  
  nav .icon {
	display: none;
  }
  
  main {
	padding: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
  }
  
  h1 {
	margin-top: 0;
	margin-bottom: 20px;
	text-align: center;
  }
  
  footer {
	background-color: #333;
	color: #fff;
	padding: 10px;
	text-align: center;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 50px;
  }
  
  .form-group {
	margin-bottom: 20px;
	padding: 10px;
	text-align: center;
  }
  
  .form-group label {
	font-size: 18px;
  }
  
  .form-group input[type="text"],
  .form-group input[type="password"],
  .form-group input[type="email"],
  .form-group textarea {
	width: 300px;
	height: 40px;
	font-size: 16px;
	padding: 5px;
  }
  
  button[type="submit"],
  input[type="submit"] {
	width: 200px;
	height: 50px;
	font-size: 18px;
	background-color: blueviolet;
	color: #fff;
	border: none;
	cursor: pointer;
	transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover,
  input[type="submit"]:hover {
	background-color: darkviolet;
  }
  
  form {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 20px;
  }
  